@import 'FormBody.scss';
@import 'FormHeader.scss';
@import 'siteHeader.scss';
@import 'siteNavigation.scss';
@import 'styleguide.scss';

.main-content {
  min-height: fit-content;
  display: block;
}

@media screen and (min-width: $screen-lg-min) {
  .main-content {
    display: flex;
  }
}
