//Main content styles
@import 'styleguide.scss';

.form-body {
  background-color: $light-gray;
  padding: 72px 24px 24px 24px;
  height: fit-content;

  .form-body-group {
    padding: 16px;
    background-color: $white;
    border: 1px solid $gray;
    border-radius: 4px;
    hr {
      margin: 28px 0px;
    }
  }

  .form-section-header {
    display: flex;
    justify-content: space-between;
    button {
      @media screen and (max-width: $screen-sm-max) {
        height: 32px;
        font-size: 10px;
        padding: 0px 8px;
      }
      height: 24px;
      font-size: 10px;
      padding: 0px 32px;
      margin-left: 8px;

    }
  }

  .form-control {
    @media screen and (max-width: $screen-sm-max) {
      margin-bottom: 16px;
    }
    display: inline-block;
    height: 32px;
    width: 200px;
    margin-right: 32px;
    &.pseudo-input {
      vertical-align: bottom;
      line-height: 10px;
      .pseudo-input-badge {
        display: inline-block;
        margin-right: 4px;
        padding: 4px;
        font-size: 10px;
        background-color: $light-gray;
        border-radius: 4px;
      }
      &.wide {
        width: 350px;
      }
    }
  }
}

.segment-overview {
  margin-top: -30px;
  .define-segment {
    min-width: 29%;
  }

  .segment-estimate {
    min-width: 69%;
  }
}

.progress-bar {
  background-color: $jade;
}
