@import 'styleguide.scss';

//site header styles
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 48px;
  color: $gray;

  .site-title {
    font-size: 32px;
    font-weight: 600;
  }

  .account-nav {
    display: flex;
    align-items: center;
    .nav-item {
      font-size: 12px;
      margin-left: 20px;
    }
  }
}

.circular-badge {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  position: relative;

  .badge-initials {
    position: absolute;
    top: 6px;
    left: 7px;
    color: white;
  }
}

.nav-searchbar {
  border: none;
  color: $white;
  border-radius: 3px;
  padding-left: 5px;
}
.nav-searchbar::placeholder {
  color: $light-gray;
}

@media screen and (max-width: $screen-sm-max) {
  .site-header {
    padding: 4px 12px;
  }

  .circular-badge {
    display: none;
  }

  .nav-searchbar {
    max-width: 80px;
  }

}
