//nav sidebar styles
@import 'styleguide.scss';

.site-nav {
  color: $white;
  font-size: 12px;
  font-weight: 600;
  background-color: $charcoal;
  color: $white;
}

.sidebar-container {
  flex: 0 0 170px;
  .sidebar-nav {
    height: 100%;
    padding-top: 40px;
    .sidebar-item {
      padding: 16px 0px 16px 32px;
      display: block;
      &.active{
        background-color: #3B424D;
      }
    }
  }
}

.mobile-nav {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .mobile-nav-item {
    &.active{
      color: #B2486C;
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .mobile-nav {
    font-size: 8px;
  }
}
